@typeparam T

<CascadingValue Value="this">
    <!-- Filters -->
    @if (ShowHeaderFilters) {
        <div class="ui-bordered px-4 py-4 mb-4">
            <div class="form-row align-items-end">
                @HeaderFilters
            </div>
        </div>
    }
    <!-- / Filters -->

    <div class="card">
        @BeforeTableContent

        <div class="card-datatable table-responsive mx-">
            <div class="row m-0">
                @if (ItemsGrid != null) {
                    <GridComponent
                        T="T"
                        @ref="@ItemsGridComponent"
                        Grid="@ItemsGrid"
                        TableWrapCssClass="@TableWrapCssClass"
                        TableCssClass="@TableCssClass"
                        GridMvcCssClass="@GridMvcCssClass"
                        GridWrapCssClass="@GridWrapCssClass"
                        GridCellCssClass="@GridCellCssClass"
                        GridFooterCssClass="@GridFooterCssClass"/>
                }
                else {
                    <div class="d-flex w-100 justify-content-center">
                        <div class="spinner-border text-primary m-4" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>

        @AfterTableContent
    </div>

    @AfterCardContent

</CascadingValue>
